body{
  background-image: url('../pictures/firebackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  widows: 100vw;
 
}
.bid-page{
  
  
  height: 100vh;
  widows: 100vw;
 
}
.nav{
  background-color: grey;
  width: 100%;
  padding: 0;
  margin: 0;
}
.logout{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color:grey;
  color: white;
  margin: 0;
  padding: 0;
  margin-right: 3%;
}
.item-box{


  height: 500px;
  width: 500px;
  border: solid white 2px;
  background-color: white;
  opacity: .8;
  margin-top: 2%;
  margin-left: 2%;
}
.items{
  display: flex;
  flex-flow: row wrap;
}
.item-button{
  margin-top: 0;
  height: 40px;
  width: 80px;
  font-size: 14px;
  

}
.item-picture{
  height: 300px;
  width: 300px;
  margin: 0;
  margin-left: 25%;
  margin-right: 25%;
  opacity: 1;
}
p{
  display: flex;
  justify-content: center;
  
}
.button-parent{
  display: flex;
  justify-content: center;
}
