
.login-page{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  widows: 100vw;

 
}
.login-logo{
  height: 100px;
  width: 100px;
  border: solid white 2px;
}
.login-button{
  color:white;
  height: 50px;
  width: 100px;
  font-size: 25px;
}