.register-page{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  widows: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
 
}